.dashcard-body {
    color: #fff;
    text-align: center;
}

.dashcard {
    width: 20rem;
    padding: 1rem;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.icon-container {
    margin-bottom: 1rem;
}