.goal-container {
    margin-bottom: 90px;
}


.text-title {
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
}

.text-space {
    width: 350px;
    height: 100px;
}

.text-category {
    width: 350px;
    height: 30px;
}

.row {
    width: 650px;
}

.button-bg {
    margin-top: 10px;
}

.achieved {
    color: white;
}