.dash-navbar {
    background-color: #002456;
}

#dash-navigation {
    background-color: #002456;
    height: 55px;
    color: #ffe546;
}

.dash-btn {
    color: #ffe546;
}

.navbar-toggler-icon2 {
    color: #ffe546;
}